# EDA

- Voy a ir de lo general a lo particular
- Realizar un Top 3 de las provincias

- Importo las librerias que voy a utilizar para comenzar a trabajar

In [55]:
import numpy as np
import matplotlib.pyplot as plt
import requests
import pandas as pd
import pandas_profiling
from pandas_profiling import ProfileReport

- Descargo el primer dataset que voy a analizar

In [2]:
df1 = pd.read_csv ('/Users/romina/Desktop/Data Analyst definitivo/Datasets/historico_velocidad_internet.csv')

### En primer lugar voy a realizar un análisis descriptivo básico de cada uno de los df que voy a utilizar
- Los voy a ir ordenando en orden numérico 
- Observo que cantidad de filas y columnas tiene el df
### 1. df1

In [3]:
df1.shape

(35, 4)

In [4]:
df1.head(3)

    Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0  2022          3                  62,46  Jul-Sept 2022
1  2022          2                  58,44   Abr-Jun 2022
2  2022          1                  55,11   Ene-Mar 2022

In [5]:
#Veo que cantidad de valores nulos tiene cada columna
df1.isnull().sum()

Año                       0
Trimestre                 0
Mbps (Media de bajada)    0
Trimestre.1               0
dtype: int64

In [38]:
#Chequeo los tipos de datos que me van a quedar para trabajar 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     object
dtypes: int64(2), object(1)
memory usage: 968.0+ bytes

- Elimino la columna Trimestre.1

In [37]:
df1 = df1.drop('Trimestre.1', axis=1)

### Genero un reporte utilizando la librería data profiling

In [56]:
profile = ProfileReport(df1)

In [57]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

- Exporto mi csv

In [69]:
df1.to_csv('velocidad.csv', index=False)

### 2. df2

In [81]:
df2 = pd.read_csv ('/Users/romina/Desktop/Data Analyst definitivo/Datasets/Internet_Accesos-por-tecnologia.csv')

In [82]:
df2.shape

(35, 9)

In [83]:
df2.head(3)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1.395.277,6.031.970,2.871.541,557.110,235.230,11.091.128,Jul-Sept 2022
1,2022,2,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684,Abr-Jun 2022
2,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022

- Elimino las columnas que no voy a utilizar

In [43]:
df2 = df2.drop('Total', axis=1)

In [45]:
df2 = df2.drop('Periodo', axis=1)

In [84]:
#Veo que cantidad de valores nulos tiene cada columna
df2.isnull().sum()

Año             0
Trimestre       0
ADSL            0
Cablemodem      0
Fibra óptica    0
Wireless        0
Otros           0
Total           0
Periodo         0
dtype: int64

In [85]:
#Chequeo los tipos de datos que me van a quedar para trabajar 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     object
 3   Cablemodem    35 non-null     object
 4   Fibra óptica  35 non-null     object
 5   Wireless      35 non-null     float64
 6   Otros         35 non-null     float64
 7   Total         35 non-null     object
 8   Periodo       35 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.6+ KB

- Convierto los tips de datos correspondientes

In [75]:
df2['Año'] = pd.to_datetime(df2['Año'])

In [77]:
df2['Trimestre'] = pd.to_datetime(df2['Trimestre'])

### Profile 2

In [58]:
profile = ProfileReport(df2)
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [87]:
df2.to_csv('accesos.csv', index=False)

### 3. df3

In [12]:
df3 = pd.read_csv ('/Users/romina/Desktop/Data Analyst definitivo/Datasets/Internet_BAF (1).csv')

In [13]:
df3.shape

(840, 6)

- Dial up: Conexiones que se realizan a través de una llamada telefónica local utilizando un módem (conexión vieja)

In [14]:
df3.head(3)

    Año  Trimestre        Provincia Banda ancha fija Dial up      Total
0  2022          3     Buenos Aires        4.715.469   6.199  4.721.668
1  2022          3  Capital Federal        1.545.534   2.145  1.547.679
2  2022          3        Catamarca           70.292       1     70.293

## Mapa de provincias y que cuando haga click a esa provincia, se actualice mi dashboard

In [49]:
#Elimino la columna Total
df3 = df3.drop('Total', axis=1)

In [50]:
#Veo que cantidad de valores nulos tiene cada columna
df3.isnull().sum()

Año                 0
Trimestre           0
Provincia           0
Banda ancha fija    0
Dial up             2
dtype: int64

In [16]:
#Chequeo los tipos de datos que me van a quedar para trabajar 
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    object
 4   Dial up           838 non-null    object
 5   Total             840 non-null    object
dtypes: int64(2), object(4)
memory usage: 39.5+ KB

- Genero un análisis en pandas prolifing

- Visualizo el informe generado

### Profile 3

In [60]:
profile = ProfileReport(df3)
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [71]:
df3.to_csv('bandaanchafija.csv', index=False)

### 4. df4

In [61]:
df4 = pd.read_csv ('/Users/romina/Desktop/Data Analyst definitivo/Datasets/Internet_Ingresos.csv')

In [62]:
df4.shape

(35, 4)

In [63]:
df4.head(3)

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          3                67.055.930  Jul-Sept 2022
1  2022          2                60.335.724   Abr-Jun 2022
2  2022          1                55.589.997   Ene-Mar 2022

- Elimino la columna Periodo

In [64]:
df4 = df4.drop('Periodo', axis=1)

In [65]:
#Veo que cantidad de valores nulos tiene cada columna
df4.isnull().sum()

Año                          0
Trimestre                    0
Ingresos (miles de pesos)    0
dtype: int64

In [66]:
#Chequeo los tipos de datos que me van a quedar para trabajar 
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     object
dtypes: int64(2), object(1)
memory usage: 968.0+ bytes

- Profile 4

In [67]:
profile = ProfileReport(df4)
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [72]:
df4.to_csv('internetingresos.csv', index=False)

### 5. df5

In [27]:
df5 = pd.read_csv ('/Users/romina/Desktop/Data Analyst definitivo/Datasets/Internet_Penetracion (1).csv')

In [28]:
df5.shape

(840, 4)

In [29]:
df5.head(3)

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          3     Buenos Aires                        78,11
1  2022          3  Capital Federal                       122,28
2  2022          3        Catamarca                        65,33

In [30]:
#Veo que cantidad de valores nulos tiene cada columna
df5.isnull().sum()

Año                             0
Trimestre                       0
Provincia                       0
Accesos por cada 100 hogares    0
dtype: int64

In [31]:
#Chequeo los tipos de datos que me van a quedar para trabajar 
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

- Profile 5

In [68]:
profile = ProfileReport(df5)
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [73]:
df5.to_csv('penetración.csv', index=False)